*{
margin:0;
padding:0;
box-sizing:border-box;
}

@font-face {
    font-family: 'TheStranger';
    src: url('../fonts/TheStranger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
font-family:Segoe UI,Arial,sans-serif;
color:white;
line-height:1.7;

background:
linear-gradient(
rgba(0,0,0,0.35),
rgba(0,0,0,0.35)
),
url("../images/fond.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;
min-height:100vh;
}

header{
background:rgba(0,0,0,.75);
padding:25px;
backdrop-filter:blur(5px);
}

.logo{
text-align:center;
}

.logo img{
max-width:180px;
margin-bottom:10px;
}

.logo h1{
font-family:'TheStranger',sans-serif;
font-size:4rem;
letter-spacing:4px;
text-shadow:
    3px 3px 0 rgba(0,0,0,.5),
    6px 6px 10px rgba(0,0,0,.3);
}

.logo p{
color:#ddd;
}

nav{
margin-top:20px;
}

nav ul{
font-family:'TheStranger',sans-serif;
font-size:2rem;
list-style:none;
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:10px;
}

nav a{
display:block;
padding:8px 14px;
text-decoration:none;
background:#d62828;
color:white;
border-radius:30px;
transition:.3s;
}

nav a:hover{
transform:translateY(-2px);
background:#ef233c;
}

main{
max-width:1200px;
margin:auto;
padding:40px 20px;
}

.card{
background:rgba(0,0,0,.70);
padding:35px;
border-radius:15px;
backdrop-filter:blur(4px);
}

h2{
justify-content:center;
margin-bottom:25px;
color:#ff6b6b;
}

h3{
font-family:'TheStranger',sans-serif;
font-size:2rem;
margin-bottom:25px;
}

.gallery{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.gallery img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.member-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.member{
background:rgba(255,255,255,.08);
padding:20px;
border-radius:10px;
text-align:center;
}

.member img{
width:100%;
height:250px;
object-fit:contain;
border-radius:10px;
margin-bottom:15px;
}

audio{
width:100%;
margin-top:15px;
}

iframe{
width:100%;
height:450px;
border:none;
border-radius:10px;
}

.contact p{
margin-bottom:15px;
}

footer{
margin-top:50px;
text-align:center;
padding:20px;
background:rgba(0,0,0,.8);
}
