/* ==========================================================
   NAVIGATION
========================================================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    padding:20px 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:999;

    transition:.4s;

}

.navbar img{

    width:65px;

}

.navbar ul{

    display:flex;

    gap:35px;

    list-style:none;

}

.navbar a{

    font-size:.9rem;

    text-transform:uppercase;

    letter-spacing:2px;

    transition:.3s;

}

.navbar a:hover{

    color:var(--color-petrol);

}